body {
  text-align: center; /* required for centering the page in IE */
  margin: 0px;
  padding: 0px;
  background-color: #234663;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  line-height:15px;
}

h1, h2, h3, h4, p, ul, li {
  margin: 0px;
  padding: 0px;
  font: 120% Tahoma, Arial,sans-serif;
}

h1, h2, h3, .componentheading, .contentheading {
  font: normal normal 120% Tahoma,Arial,sans-serif;
  font-weight:bold;
  color: #000000;
}

h1, h2{
  color: #092f44;
}

h2 {
  font-size: 120%;
}

h3{
  font-size: 110%;
}

html, body {
  height: 100%;
  width: 100%;
}

a:link, a:visited {
  text-decoration: underline;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #274b69;
}

#wrapper {
  position: static;
  width: 800px;
  margin: 0 auto; /* centering the page */
  text-align: left;
}

#header {
  position: static;
  height: 144px;
  background-image: url(../images/head-bear.png);
}

#Menu{
  position: static;
  background-image: url(../images/menu_bg.png);
  background-repeat: repeat-y;
  height: 33px;
  vertical-align:top;
}

#container {
  background-image: url(../images/body.png);
  background-repeat: repeat-y;
}

#innerContainer {
  margin-right: 12px;
  margin-left: 12px;
  height: 100%;
}

#left {
  float: right;
  width: 200px;
  height: 100%;
  position: relative;
  padding-right: 50px;
  font-family: tahoma, arial;
}

#left h3 {
  color: #234663;
  text-transform: uppercase;
  font-weight:normal;
}

#left .contentheading {
  color: #234663;
  padding-bottom:0px;
}

#left .contentpaneopen {
  font-size: 90%;
  line-height:5px;
  padding-bottom:0px;
}

#leftInner {
  font: 90% Arial,sans-serif;
}

.latestnews, .mostread {
  font: 11px Arial,sans-serif;
  list-style-type: none;
}

li.mostread {
  padding-bottom: 10px;
}

#content {
  width: 440px;
  float: left;
  padding-top: 10px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 60px;
}

#content h1 {
  margin-bottom: 15px;
}

#content h2 {
  margin-bottom: 15px;
}

#content p {
  margin-bottom: 15px;
  line-height:15px;
  font-size: 11px;
}

#content ul {
  margin-bottom: 15px;
  padding-left: 20px;
  list-style-position: inside;
  list-style-type: square;
}

#content li {
  line-height: 20px;
  font-size: 11px;
}

#clear {
  height: 0px;
  clear: both;
}

.clear {
    clear: both;
    display: block;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#footer {
  height: 43px;
  clear: both;
  text-align: center;
  background-image: url(../images/footer.png)
}

#footer img {
  text-align: center;
}

#footer p {
  color: #fff;
  font-size: 9px;
  text-align:center;
}

#footer a {
  color:#2b5f7d;
  text-decoration:none;
  font-size: 9px;
}

#footer a:hover {
  color:#fff;
}

/*Horizontal Nav*/
div#nav, div#nav li {
  list-style-type: none;
  margin: 0;
}

div#nav {
  margin-left: 56px;
  font-size: 90%;
}

div#nav li {
  float: left;
  margin-right: 1px;
  font-size: 90%;
  text-align: center;
  display: inline;
  vertical-align: middle;
}

div#nav a {
  float: left;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 3px;
  width: 129px;
  background-color: #4a4a4a;
}

div#nav a:hover {
  color: #fff;
  background-color: #313131;
}

fieldset.input {
  border: 0px;
}

input#modlgn_remember.inputbox {
  width: 15px;
}
  /*Vertical Nav*/

.module_menu, #left .module {
  width: 160px;
  list-style-type: none;
  text-indent: 5px;
}

ul.menu, #form-login ul, ul.latestnews, li.parent ul, ul.mostread {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

ul.menu a, #form-login a, .latestnews a, .mostread a {
  display: block;
  padding: 3px;
  width: 102.5px;
  background-color: #4a4a4a;
  text-decoration: none;
}

ul.menu a:link,  ul.menu a:visited {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

ul.menu a:hover,  #form-login a:hover, .latestnews a:hover, .mostread a:hover {
  background-color: #333333;
  color: #fff;
  background-image:none;
}

#left ul.menu #current a {
  background-image: none;
  background-color: #333333;
  color: #fff;
}

#left ul.menu #current ul a{
  background-image: none;
  background-color: #e1e1e1;
  color: #000;
}

.mostread li {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* default */

.componentheading {
  font-family: Tahoma, Verdana, Arial;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding-top: 5px;
}

.contentheading {
  font-family: Tahoma, Verdana, Arial;
  font-size: 120%;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
}

#leftInner .moduletable {
  padding-bottom: 5px;
}

.search {
  padding-top: 110px;
  padding-left:612px;
}

h3 {
  font-family: Tahoma, Verdana, Arial;
  font-size: 110%;
  font-weight: bold;
  color: #000000;
  padding-top: 5px;
  padding-bottom:5px;
}

h2 {
  font-family: "Trebuchet MS",Tahoma, Verdana, Arial;
  font-size: 115%;
  font-weight: bold;
  color: #000000;
  padding-top: 5px;
  padding-bottom:5px;
}

#mod_login_password, #mod_login_username {
  color: #000000;
}

form {
  margin: 0;
  padding: 0;
}

input, select {
  font: 12px "Lucida Grande",  Arial,sans-serif;
}

select, .inputbox {
  padding: 2px;
}

textarea {
  padding-left: 2px;
}

.button {
  border: 1px solid #2F2F2F;
  padding: 1px 10px!important;
  padding: 1px 5px;
  background: url(../images/button-bg.gif) repeat-x top #333;
  color: #FFFFFF;
}

.button:hover {
  background: url(../images/button-bg.gif) repeat-x top #333333;
  color: #fff;
}

.button:active, .button:focus {
  border: 1px solid #222222;
}

.buttonheading img, .hasTip img, .bs_contentdiv img {
  border: 0px;
}

.inputbox {
  border: 1px solid #CCC;
  background: #FFF;
  color: #000;
}

#left .inputbox {
  width: 145px;
}

.inputbox:hover, .inputbox:focus {
  border: 1px solid #003366;
}

fieldset.js_loginflat {
  border: 0px;
  padding: 8px;
  margin-left: 12px;
  margin-right: 12px;
  font: 11px Arial,sans-serif;
  text-align: center;
  vertical-align: top;
}

fieldset.js_loginflat .inputbox {
  width: 145px;
}

fieldset.js_loginflat legend {
  display: none
}

.moduletableflat {
  text-align: center;
  vertical-align: top;
}

#JB {
  position: absolute;
  bottom: 0px;
}

.line {
  color: #CCCCCC;
}

.modulegoogleADtop {
  padding-top:15px;
  padding-bottom:15px;
}

.small, .createdate, .modifydate {
  line-height:10px;
  font-size:90%;
  font-style:italic;
  padding-bottom:5px;
}

/** Controls Raw Display of Images **/

.rawimages {
  text-align: right;
}
.rawimages img {
  border: none;
  margin:2px;
}
.rawimages span#active_language img
{
  margin:2px;
  border: none;
 }
/** End Raw display of images **/
