<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="wrapper">

      {% include header.html %}

      <div id="container">
        <div id="innerContainer">

          <div id="content">
            {{ content }}
          </div>

          <div id="left">
            <div id="leftInner">
              <div class="moduletable">
                <h3>Recent Blog</h3>
                <table class="contentpaneopen">
                  <tbody>
                    <tr>
                      <td class="contentheading" width="100%">Bug in Filter Manager's FltIsDirectory</td>
                    </tr>
                  </tbody>
                </table>
                <table class="contentpaneopen">
                  <tbody>
                    <tr>
                      <td valign="top" colspan="2">
                        <p>In XP the implementation of FltIsDirectory is buggy. This document describes the issue and an opensource fix which pacthes filtermanager with a working solution.</p>
                        <p>&nbsp;</p>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" colspan="2">
                        <a href="http://www.steadingsoftware.com/bug-in-filter-manager-s-fltisdirectory.html" class="readon">
                          Read more...</a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <span class="article_seperator">&nbsp;</span>

              </div>
            </div>
          </div>
          <div class="clear">&nbsp;</div>

        </div>

      </div>

      {% include footer.html %}

    </div>

  </body>

</html>