<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="wrapper">

      {% include header.html %}

      <div id="container">
        <div id="innerContainer">

          <div id="content">
            {{ content }}
          </div>

          <div id="left">
            <div id="leftInner">
              <div class="moduletable">
                <h3>Recent Blog Posts</h3>
                {% for post in site.posts limit:2 %}
                  <div class="contentpaneopen">
                    <p class="contentheading">{{ post.date | date: "%b %-d, %Y" }}
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </p>
                    <p>{{ post.excerpt }}</p>
                  </div>
                  <span class="article_seperator">&nbsp;</span>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="clear">&nbsp;</div>

        </div>

      </div>

      {% include footer.html %}

    </div>

  </body>

</html>